/* font-family: 'Montserrat', sans-serif; */
:root {
  --brand-red: #D53333;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a, a:link, a:visited, a:hover {
  color: var(--brand-red);
}
a.btn-danger, a.btn-danger:link, a.btn-danger:visited, a.btn-danger:hover {
  color: var(--white);
}

.callout-jumbotron {
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

}
.home-jumbotron {
  background-image: linear-gradient(180deg,rgba(38,70,83,.3),rgba(0,0,0,.5)),url('views/img/home-facemask-ivan-samkov.jpg');
  height: 50vw;
  /* font-size: 1.25em;
  padding-left: 5%; */
}
.download-jumbotron {
  background-image: linear-gradient(180deg,rgba(38,70,83,.3),rgba(0,0,0,.5)),url('views/img/download-app.jpg');
  height: 30vw;

}

.secondary-banner {
  background-color: var(--brand-red);
  padding: 5% 0;
}

.copy {
  font-size: 1em;
}

/* Create a round checkbox */
.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: var(--dark);
  border: 3px solid #ddd;
}

.checkbox-label{
  margin-left: 10px;
  padding-top: 0.2rem;
}

/* Responsive Style */
@media only screen and (max-width: 600px) {
  .callout-jumbotron {
    padding: 5%;
    height: auto;
  }
  .callout-jumbotron h1 {
    font-size: 2em;
  }
  .callout-jumbotron h2 {
    font-size: 1.5em;
  }
}
  